
<head>
  <h1 id="page_title">Gregory David Testo</h1>
  <div class="me"></div>
  <div class="contact">
    <a href="https://www.testophotography.com">
      <%= image_tag "safari.png", size: "20x20", alt: "Edit Entry" %></a>
    <br>
    <a href="mailto:gtesto@testophotography.com">
      <%= image_tag "mail.png", size: "20x20", alt: "Edit Entry" %></a>
    <br>
    <a href="https://www.linkedin.com/in/gregorytesto">
      <%= image_tag "in_logo.png", size: "20x20", alt: "Edit Entry" %></a>
  </div>
</head>

<body>
  
  <section class="personal">
    <h2 id="page_subtitle">Personal Statement</h2>
    <span class="anchor" id="personal"></span>
    <div class="section"></div>
    <p>Passionate junior web developer experienced in full stack Rails and over a decade experience as a multimedia creator and designer. Solid web debugging and version control experience. Strong focus on responsive design and clean readable code.</p>
  </section>
  
  <section class="clients">
      <h2 id="page_subtitle">Clients</h2>
      <span class="anchor" id="clients"></span>
      <div class="client_icons">
        <a href="http://www.sonotainment.com/">
          <%= image_tag "sono.jpg", size: "130x60", alt: "Edit Entry" %></a>
        <a href="http://www.mxk9.com.br/">
          <%= image_tag "xk9.jpg", size: "60", alt: "Edit Entry" %></a>
        <a href="http://www.abipr.com/">
          <%= image_tag "abi.jpg", size: "120x60", alt: "Edit Entry" %></a>
        <a href="http://www.bobettes.com/">
          <%= image_tag "bobettes.gif", size: "90x60", alt: "Edit Entry" %></a>
        <a href="http://www.rollins.edu/">
          <%= image_tag "rollins.jpg", size: "60", alt: "Edit Entry" %></a>
      </div>
  </section>
  
  <HR>
  
  <section class="skills">
    <h2 id="page_subtitle">Web Development Skills</h2>
    <span class="anchor" id="skills"></span>
    <div class='circle-container'>
      <a href="https://en.wikipedia.org/wiki/Front-end_web_development" class='center'>
        <%= image_tag "front.png", size: "125x60", alt: "Edit Entry" %></a>
      <a href="https://jquery.com/" class='deg0'>
        <%= image_tag "jquery.png", size: "60x20", alt: "Edit Entry" %></a>
      <a href="https://wordpress.com/" class='deg45'>
        <%= image_tag "wp.png", size: "60", alt: "Edit Entry" %></a>
      <a href="http://getbootstrap.com/" class='deg135'>
        <%= image_tag "bootstrap.png", size: "60x60", alt: "Edit Entry" %></a>
      <a href="https://git-scm.com/" class='deg180'>
        <%= image_tag "git.png", size: "60x30", alt: "Edit Entry" %></a>
      <a href="https://www.ruby-lang.org/en/" class='deg225'>
        <%= image_tag "ruby.jpg", size: "60", alt: "Edit Entry" %></a>
      <a href="https://rubyonrails.org/" class='deg315'>
        <%= image_tag "rails.png", size: "65", alt: "Edit Entry" %></a>
    </div>
  </section>
  
  <HR>
  
  <section class="education">
    <h2 id="page_subtitle">Education</h2>
    <span class="anchor" id="education"></span>
    <a id="nyu" href="http://www.nyu.edu/">
      <%= image_tag "nyu.jpg", size: "40", alt: "Edit Entry" %></a>
    Javascript and JQuery
    <a id="rollins" href="http://www.rollins.edu/">
      <%= image_tag "rollins.jpg", size: "40", alt: "Edit Entry" %></a>
    Bachelor of Arts: Economics
  </section>
  
</body>