<head>
  <br><br><br>
  <h1>Gregory David Testo</h1>
    <div id=contact>
      <a href="mailto:gtesto@testophotography.com">
        <%= image_tag "mail.png", size: "40x40", alt: "Edit Entry" %>
      </a>
      <br>
      Phone: 212-203-8276
      <br>
      <a href="www.linkedin.com/in/gregorytesto">
        <%= image_tag "linkedin.png", size: "80x20", alt: "Edit Entry" %>
    </div>
    </a> 
  </h3>
</head>
<body>
  
  <section>
    <h2>Personal Statement</h2>
    <span class="anchor" id="personal"></span>
    <div class="section"></div>
    <p>Passionate junior web developer experienced in full stack Rails and over a decade experience as a multimedia creator and designer. Solid web debugging and version control experience.</p>
  </section>
  
  <section>
    <h2>Job History</h2>
    <span class="anchor" id="jobs"></span>
    <p>
       <ul id="client_jobs">
        <li>Apple, Manhattan, New York</li>
        <li>Testo Photography, Manhattan, New York</li>
      </ul>
      <br>
      <h2 id="client">Clients</h2>
      <ul id="client_jobs">
        <li>SoNo Entertainment Studios, South Norwalk, Connecticut</li>
        <li>XK9 Comunicação Sao Paulo, Brazil</li>
        <li>ABI Marketing Public Relations, Manhattan, New York</li>
        <li>Bobette’s Takout Bistro, Milford, Connecticut</li>
        <li>Strategic Marketing of Rollins College, Winter Park, Florida</li>
      </ul>
    </p>
  </section>
  
<section>
    <h2>Web Development Skills</h2>
    <span class="anchor" id="skills"></span>
      <ul>
        <li> <a href="html.com">
          <%= image_tag "html.png", size: "30x30", alt: "Edit Entry" %></a></li>
        <li> <a href="css">
          <%= image_tag "css.png", size: "30x30", alt: "Edit Entry" %></a></li>
        <li> <a href="js">
          <%= image_tag "js.png", size: "30x30", alt: "Edit Entry" %></a></li>
        <li> <a href="ruby">
          <%= image_tag "ruby.jpg", size: "30x30", alt: "Edit Entry" %></a></li>
        <li> <a href="rails">
          <%= image_tag "rails.png", size: "30x30", alt: "Edit Entry" %></a></li>
        <li> <a href="git">
          <%= image_tag "git.png", size: "60x25", alt: "Edit Entry" %></a></li>
        <li> <a href="bs">
          <%= image_tag "bootstrap.png", size: "30x30", alt: "Edit Entry" %></a></li>
        <li> <a href="jq">
          <%= image_tag "jquery.jpg", size: "60x20", alt: "Edit Entry" %></a></li>
        <li> <a href="wp">
          <%= image_tag "wp.png", size: "30x30", alt: "Edit Entry" %></a></li>
      </ul>
</section>
  
  <section>
    <h2>Education</h2>
    <span class="anchor" id="education"></span>
    <div class="section"></div>
    <dl>
      <dt>New York University</dt>
      <dd>- Javascript and JQuery</dd>
      <dt>Rollins College, Winter Park, Florida</dt>
      <dd>- Bachelor of Arts: Economics</dd>
    </dl>
  </section>
  
</body>