<!DOCTYPE html>
<html>
  <head>
    <ul class="nav">
      <li> <a href="#personal">Personal</a></li>
      <li> <a href="#jobs">History</a></li>
      <li> <a href="#skills">Skills</a></li>
      <li> <a href="#education">Education</a></li>
    </ul>
    <title>Gregory Testo Web Development Resume</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>

    <%= yield %>

  </body>

  <footer>
    <ul class="footer">
      <li><a href="www.testophotography.com">Testo Photography</li>
      <li><a href="www.linkedin.com/in/gregorytesto"></a>
      <%= image_tag "in_logo.png", size: "15x15", alt: "Edit Entry" %></li>
    </ul>
  </footer>
</html>
