<!DOCTYPE html>
<html>
  <head>
    <ul class="nav">
      <li> <a href="#personal">Personal</a></li>
      <li> <a href="#jobs">History</a></li>
      <li> <a href="#skills">Skills</a></li>
      <li> <a href="#education">Education</a></li>
    </ul>
    <title>Gregory Testo Web Development Resume</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>

    <%= yield %>

  </body>

  <footer>
    <div>
      <a href="mailto:gtesto@testophotography.com">
        <%= image_tag "mail.png", size: "20x20", alt: "Edit Entry" %></a>
      <a href="https://www.testophotography.com">
        <%= image_tag "testosite.png", size: "200x20", alt: "Edit Entry" %></a>
      <a href="www.linkedin.com/in/gregorytesto">
        <%= image_tag "in_logo.png", size: "20x20", alt: "Edit Entry" %></a>
    <div/>
  </footer>
</html>
